@import "./root.css";

/* -------  TELA DE LOGIN  ----------- */

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

main {
    background-color: var(--corBg);
    color: white;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-attachment: fixed;
}

.container-conteudo {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.imagem-fundo {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-fundo img {
    min-width: 30%;
    max-width: 60%;
    min-height: 30%;
    max-height: 60%;
}

.tela-login {
    min-width: 35vw!important;
    max-width: 40vw!important;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.elementos-login {
    justify-content: center!important;
    background-color: white;
    padding: 32px;
    border-radius: 15px;
    width: 30vw;
    box-shadow: 4px 6px 12px 5px rgba(0, 0, 0, 0.4);
}

.container-texto {
    text-align: center;
}

.container-texto h1 {
    font-family: var(--fontDestaque);
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 16px;
}

.container-texto h1 strong {
    color: var(--corPrimaria);
}

.container-texto p {
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
    min-width: 300px;
    width: 500px;
    font-family: var(--fontPadrao);
    font-size: 1.3em;
    padding-bottom: 8px;
}

.container-inputs {
    min-width: 40%;
    max-width: 60%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.container-inputs input {
    width: 300px;
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

label > i {
    color: var(--corPrimaria);
    font-size: 20px;
    margin-right: 7px;
}

.container-input-senha {
    position: relative;
}

.container-input-senha input {
    margin-bottom: 0;
}

.exibir-senha {
    position: absolute;
    top: 25%;
    right: 10px;
    transform: translateY(-5%);
    cursor: pointer;
}

.exibir-senha i {
    font-size: 20px;
    color: var(--corPrimaria);
}

.tela-login .botoes {
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

.tela-login .botoes a {
    text-decoration: none;
}

.tela-login .botoes a:hover {
    cursor: pointer;
    color: var(--corPrimaria)!important;
}

.tela-login .botoes a:visited {
    color: black;
    text-decoration: none;
}

.botao-logar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#botao-Submit {
    padding: 6px!important;
    width: 200px;
    font-size: 1.2em;
    background-color: var(--corPrimaria);
    color: white;
    font-weight: bolder;
    font-family: var(--fontDestaque);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.4);
}

#botao-Submit:hover {
    background-color: var(--corSecundaria);
}

.container-feedback {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-feedback p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    font-family: var(--fontPadrao);
    text-align: center;
}

.feedback-erro {
    padding: 2px 12px;
    color: red;
    border-radius: 10px;
    text-decoration: underline;

}

.hidden {
    display: none !important;
}
