/* DESKTOP => 992px ou +  */


/* DESKTOP E TABLET => 768px até 991px */


/* TABLET => 576px até 767px  */

/* TABLETS E CELULARES => 0px até 766px  */

@media (max-width: 1205px) {
    .elementos-login {
        height: 70% !important;
        gap: 12px !important;
    }
    
    .tela-login .botoes {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1057px) {
    .container-conteudo {
        margin: 0 !important;
    }

    .tela-login {
        width: 80% !important;
    }

    .imagem-fundo {
        display: none !important;
    }    
}

@media (max-width: 767px) {
    body {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .no-mobile {
        display: none !important;
    }

    
    .container-conteudo {
        height: 100%;
        width: 100%;
        margin: 0 !important;
    }
    
    .tela-login {
        width: 95% !important;
    }
    
    .elementos-login {
        height: 90% !important;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }

    .container-texto p {
        min-width: 100% !important;
        font-size: 1.3rem !important;
        margin: 0px auto 0px auto !important;
        padding: 12px;
    }

    .container-inputs {
        margin-top: 20px;
        min-width: 100% !important;
    }

    .tela-login .no-desktop {
        display: block !important;
    }

    .container-input-user label, .container-input-senha label {
        display: flex;
        margin-bottom: 5px;
        align-content: center;
        justify-content: center;
    }

    label > i {
        font-size: 1.6em !important;
    }

    label > strong {
        color: var(--corPrimaria);
        font-size: 1.2em;
    }

    .container-input-user input, .container-input-senha input {
        width: 320px !important;
        padding: 12px 0px !important;
        text-align: center;
    }


    .exibir-senha {
        top: 55% !important;
        right: 17px;
    }

    .tela-login .botoes {
        margin-top: 10px;
        margin-bottom: 10px;
        width: fit-content !important;
        font-size: 18px;
        gap: 18px;
    }

    .tela-login .botoes__link {
        margin-bottom: 1px;
        font-size: 1.2rem;
    }

    .botao-logar {
        margin-top: 16px;
    }

    .botao-submit {
        padding: 12px 8px !important;
        font-size: 1.5em !important;
    }
}

@media (max-width: 517px) {
    
}