@import "./root.css";
@import "./main.css";

.tela-cadastro {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    color: black;
}

.form-cadastro {
    margin: 50px auto auto auto;
    justify-content: center!important;
    background-color: white;
    padding: 32px;
    border-radius: 15px;
    max-width: 800px!important;
    box-shadow: 4px 6px 12px 5px rgba(0, 0, 0, 0.4);
}

.form-inputs {
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.inputs-nome-sobrenome {
    justify-content: space-between;
}

.inputs-nome-sobrenome label {
    font-size: 18px;
}

.form-input-nome input, .form-input-sobrenome input {
    width: 250px;
    margin-left: 5px;
}


.inputs {
    width: 490px;
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.form-input-dados {
    width: 500px!important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    justify-content: center;
}

.form-input-dados label {
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 18px;
}

.form-input-dados i {
    color: var(--corPrimaria);
    margin-right: 5px;
}

.botoes-cadastro {
    text-align: center;
}

.botoes-cadastro a {
    text-decoration: none;
}

.botoes-cadastro a:hover {
    cursor: pointer;
    color: var(--corPrimaria)!important;
}

.botoes-cadastro a:visited {
    color: black;
    text-decoration: none;
} 